<launch>
  <arg name="output_dir" default="$(find dbf)/rollout_vis"/>
  <arg name="record_video" default="true"/>
  <arg name="save_frames" default="false"/>
  <arg name="video_fps" default="10"/>

  <!-- run_mppi_visualizer.sh works without rebuilding devel symlinks -->
  <node name="mppi_visualizer" pkg="dbf" type="run_mppi_visualizer.sh" output="screen">
    <param name="output_dir" value="$(arg output_dir)"/>
    <param name="record_video" value="$(arg record_video)"/>
    <param name="save_frames" value="$(arg save_frames)"/>
    <param name="video_fps" value="$(arg video_fps)"/>
  </node>
</launch>
